nav{
  /* position: sticky; */
  /* top: 10px; */
}
.navbar{
  /* position: sticky;
  top: 0; */
  /* background: red; */
  box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.5);
}
.top-nav{
  background: #451093;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.for-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.for-span{
  display: block;
  text-transform: uppercase;
  color: white;
  font-family: WorkSans-SemiBold;
  font-size: 20px;
  padding: 0.7rem;
  
}
.for-span:hover{
  background: rgba(255, 255, 255, 0.5);
}
.active{
  background: white;
  color: black;
}
.active:hover{
  background: white;
}
.links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.links-text{
  font-family: WorkSans-Light;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  transition: transform 500ms;
}
.links-text:hover{
  text-shadow: 2px 4px 4px rgb(255, 255, 255);
  transform: scale(1.2);
}
.phone-img{
  width: 30px;
  font-size: 0;
}
.download-app{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.bottom-nav{
  /* top: 10px; */
  position: sticky;
  top: 10px;
  /* background: red; */
}
.inner-nav{
  width: 94%;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo{
  font-size: 0;
  margin-right: 1rem;
}
.logo-img{
  width: 80px;
  filter: drop-shadow(2px 4px 8px hsla(0deg, 0%, 0%, 0.5));
  /* transition: transform 500ms ease-in-out; */
}
.logo-img:hover{
  filter: drop-shadow(2px 4px 8px hsla(0deg, 0%, 0%, 1));
  /* transform: rotate(45deg); */
  transform: rotate(360deg);
  transition-duration: 2s;
  transition-delay: now;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.split-div{
  width: inherit;
  display: flex;
  justify-content: space-between;
}
.categories{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: WorkSans-SemiBold;
  font-size: 0;
  gap: 0.5rem;
  margin-left: 1rem;
}
.d-arrow{
  width: 20px;
}
.category{
  /* margin-left: 1rem; */
  padding: 0.5rem;
  font-size: 14px;
  /* line-height: 29px; */
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.category:hover{
  border-bottom: 5px solid #451093;
  color: #451093;
}
.page-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pages{
  font-family: WorkSans-Medium;
  font-size: 0;
}
.pages:hover{
  border-bottom: 5px solid #451093;
}
.pages-icon{
  width: 30px;
}


/* main content started ___________________________ */
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
section{
  max-width: 1500px;
}
.carousel-container{
  /* padding: 1rem 0; */
  /* border: 1px solid black; */
  /* z-index: 99; */
}
.banner-img{
  width: 100%;
  /* height: 300px; */
}
/* main content started ___________________________ */