:root {
  /* --main-color: red; */
  --search-button-size: 40px;
}
@font-face {
  font-family: Nitro;
  src: url("/public/fonts/Nitro.otf");
}
@font-face {
  font-family: LVMH-Regular;
  src: url("/public/fonts/LVMH-Regular.ec38cfa.woff");
}
@font-face {
  font-family: WorkSans-Light;
  src: url("/public/fonts/WorkSans-Light.woff2");
}
@font-face {
  font-family: WorkSans-Medium;
  src: url("/public/fonts/WorkSans-Medium.woff2");
}
@font-face {
  font-family: WorkSans-SemiBold;
  src: url("/public/fonts/WorkSans-SemiBold.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: rgba(129, 172, 129, 0.2);
  outline: 1px solid rgba(0, 128, 0, 0.5); */
}
body {
  font-family: LVMH-Regular, sans-serif;
}
a{
  text-decoration: none;
  color: black;
}

/* search box animation and working_______________________ */
.search-box {
  background: transparent;
  position: relative;
  --size-button: 40px;
}

.search-input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  /* color: #fff; */
  background: transparent;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  /* border-radius: 50px; */
  cursor: pointer;
}
.search-input::placeholder{
  color: black;
}

.search-input:focus,
.search-input:not(:invalid) {
  border: 1px solid black;
  width: 170px;
  cursor: text;
  /* padding: 1rem 1rem 1rem 2.5rem; */
}

.search-input:focus + .search-icon,
.search-input:not(:invalid) + .search-icon {
  pointer-events: all;
  cursor: pointer;
}

.search-box .search-icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  /* left: 0; */
  pointer-events: none;
}

.search-box .search-icon img {
  width: 40px;
}
/* search box animation and working_______________________ */