:root {
  /* --main-color: red; */
}
@font-face {
  font-family: Nitro;
  src: url("/public/fonts/Nitro.otf");
}
@font-face {
  font-family: LVMH-Regular;
  src: url("/public/fonts/LVMH-Regular.ec38cfa.woff");
}
@font-face {
  font-family: WorkSans-Light;
  src: url("/public/fonts/WorkSans-Light.woff2");
}
@font-face {
  font-family: WorkSans-Medium;
  src: url("/public/fonts/WorkSans-Medium.woff2");
}
@font-face {
  font-family: WorkSans-SemiBold;
  src: url("/public/fonts/WorkSans-SemiBold.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: rgba(129, 172, 129, 0.2);
  outline: 1px solid rgba(0, 128, 0, 0.5); */
}
body {
  font-family: LVMH-Regular, sans-serif;
}
a{
  text-decoration: none;
  color: black;
}